@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 4s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .Complaint {
    animation: App-logo-spin 3.65s ease;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .Enemy {
    animation: Circle-page 10s infinite;
  }
}

/* App */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ef6422;
}

.App-link:hover {
  cursor: pointer;
}

body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /*font-size: calc(10px + 2vmin);*/
  color: white;
  min-width: 100vw;
}

/* Navbar */

.Navbar {
  position: fixed;
  top: 0;
  background: #2a6e70;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
}

.logo {
  display:flex;
  justify-content: flex-start;
  width:5%;
}

.navigation {
  display: flex;
  align-content: center;
}

.navigation ul {
  height:100%;
  margin:auto;
  padding:0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.navigation ul li {
  display: flex;
  height: 100%;
  padding: 0 20px 0 20px;
  margin: auto auto auto auto;
  align-items: center;
}

.navigation ul li:hover {
  border-bottom: 1px solid #29E7CD;
  color: #29E7CD;
}

/* userData */

.UserData {
  margin-left: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes Circle-page{
  0%   {top: 0px; left: 0px;}
  25%  {top: 0px; left: 94.5%;}
  50%  {top: 86%; left: 94.5%;}
  75%  {top: 86%; left: 0px;}
  100% {top: 0px; left: 0px;}
}

/* Login in/ Registrar */


.login-input {
  background-color: transparent;
  width: 100%;
  height: 30;
  border: none;
  border-bottom: 1px solid grey;
  font-size: 20px;
  color: snow;
  padding-left: 5px;
}

.eggradient{
  background-color: #a4508b;
  background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
}

input:focus {
  outline:none;
  border-bottom: 1px solid #a4508b;
}